html {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

body {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1.1rem;
}

#header {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 25px;
}

#main h1 {

}

.controller-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.controller-area {
    width: 49%;
    padding: 15px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


