[Unit]
Description=uWSGI instance to serve mqttflask
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/home/vagrant/mqttflask
Environment="PATH=/home/vagrant/mqttflask/flaskenv/bin"
ExecStart=/home/vagrant/mqttflask/flaskenv/bin/uwsgi --ini mqttflask.ini

[Install]
WantedBy=multi-user.target

