[Unit]
Description=uWSGI instance to serve mqttflask
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/var/www/mqttflask
Environment="PATH=/var/www/mqttflask/flaskenv/bin"
ExecStartPre=/var/www/mqttflask/bin/createtmpdirs.sh
ExecStart=/var/www/mqttflask/flaskenv/bin/uwsgi --ini mqttflask.ini

[Install]
WantedBy=multi-user.target
